__pycache__/main.cpython-37.pyc
*.mp4
test.py
1/v2.mp4
1/v1.mp4
0/v2.mp4
.idea/
.ipynb_checkpoints/
.vscode/
.idea/misc.xml
.idea/modules.xml
.idea/Third-Year-Distributed-File-System-.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/DNSServer.cpython-37.pyc
__pycache__/MasterTrackerMain.cpython-37.pyc
